---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="management" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data Management</h2>
		<p>Expertise in organizing, analyzing, and maintaining data using tools like SQL, Excel, Power BI, and Tableau to support data-driven decisions.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Problem Solving</h2>
		<p>Strong ability to identify issues, think critically, and develop practical solutions across Data Analysis, SEO, Advertising, and UI/UX projects.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="collaboration" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Collaboration</h2>
		<p>Effective communication and teamwork skills to work closely with clients and cross-functional teams for successful project outcomes.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
